body {
  margin: 0;
}
.title {
  text-align: center;
  font-size: 40px;
  margin: 10px 0;
}
.mainDiv {
  margin: 0 29.3%;
  position: relative;
  height: 600px;
  width: 600px;
  border: 1px solid red;
  background-color: white;
}
.boxes {
  margin: -5px;
  border: 5px solid orange;
  width: 32.7%;
  height: 32.7%;
  display: inline-block;
  font-size: 217px;
  text-align: center;
}
.boxes:hover {
  background: lightgrey;
  cursor: pointer;
}
/* .line {
  position: absolute;
  background: orange;
  width: 600px;
  height: 10px;
  top: 72px;
  left: 280px;
} */
